body{
     background-image: url("./image/image1.jpg");
     background-size:cover;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: row;
}  
.teamDiv{
     border: 3px solid black;
     display: flex;
     flex-direction: column;
     width: 650px;
     background-color: white;
     margin-top: 200px;
}
.teamViewDiv
{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-bottom: 10px;
}
.inputsDiv
{
     display: flex;
     flex-direction: row;
}
.inputDiv
{
     display: flex;
     flex-direction: column;
     margin: 20px;
}
.driverDetails
{
     display: flex;
     flex-direction: column;
     border: 2px solid black;
     height:250px;
     width: 180px;
     background-color:lightblue;
     align-items: center;
     justify-content: space-around;
     padding: 10px;
}
label
{
     font-size: 18px;
}
.driverImg
{
     width: 170px;
     height: 100px;
}
.resultsDiv
{
     display: flex;
     flex-direction: column;
     margin-top: 200px;
     background-color: lightblue;
     margin-left: 20px;
}